  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_0jDgpmwF5sGhvIZy4c5l9CpC');
  // ...
</script>
<h1>Payment</h1>
<%= form_tag charges_path do %>
	<h4>Click the button!</h4>
	<script class='stripe-button' src='https://checkout.stripe.com/checkout.js' data-key='<%=@stripe_btn_data[:key] %>' data-amount=<%= @stripe_btn_data[:amount] %> data-description='<%= @stripe_btn_data[:description] %>'></script>
<% end %>